*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    list-style: none;
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: rgb(255, 255, 255);
    color: rgb(17, 16, 16);
}
.container{
    display: block;
    width: 100%;
    height: 65rem;
    position: relative;
    background-image: url("./img/Rectangle 1441.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: fill;
}
.menu{
    display: none;
    z-index: 99;
    color: white;
    font-size: 1.5rem;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 4rem;
    background-color:transparent;
}
.logo h1{
    font-size: 1.8rem;
    font-weight: 600;
    color: white;
    cursor: pointer;
}
.nav-links ul{
    display: flex;
    gap: 2rem;
}
.nav-links ul li a{
    color: white;
    font-size: 1rem;
    font-weight: 400;
}
.cart{
    cursor: pointer;
}
.fir-text{
    display: block;
    margin-top: 2rem;
    text-align: center;
    width: 100%;
    margin-bottom: 3rem;
}
.fir-text h1{
    font-size: 4rem;
    font-weight: 600;
    color: white;
    text-align: center;
}
.fir-text p{
    font-size: 18px;
    color: white;
    line-height: 2rem;
    font-weight: lighter;
    margin-top: .5rem;
    width: 30rem;
    display: inline-block;
}
.bnt{
    width: 17rem;
    height: 2.8rem;
    padding: 0 1rem;
    text-align: justify;
    border: 1px silver solid;
    border-radius: 1.6rem;
    color: white;
    outline: none;
    font-size: 1rem;
    background-color: rgba(192, 192, 192, 0.527);
}
.bnt::placeholder{
    color: rgba(255, 255, 255, 0.781);
    font-weight: 200;
    font-size: 13px;
}
.but{
    background:transparent;
    position: absolute;
    margin-left: -2.5rem;
    margin-top: .5rem;
    cursor: pointer;
}
.anim{
    position: absolute;
    margin-top: 4rem;
    margin-left: 15rem;
    cursor: pointer;
}

.container2-layout{
    margin-top: 1rem;
    padding: 3rem 4rem;
}
.container2-head h1{
    text-align: left;
    margin-bottom: 2rem;
    font-size: 1.8rem;
}
.container2{
    display: flex;
    justify-content: center;
    gap: 1rem;
    text-align: left;

}
.col h2{
    text-align: left;
    font-size: 1rem;
    margin-bottom:.5rem ;
}
.col p{
    font-size: 13px;
    text-align: left;
    line-height: 1.5rem;
}
.col span a{
    text-align: left;
    color: orange;
}

.Product-cont{
    margin-top: 3rem;
    background: rgba(247, 247, 247, 1);
    padding: 4rem 0;
}
.product-head h1{
    font-size: 1.8rem;
}
.arrow{
    display: block;
}
.fir{
    position: absolute;
    left: 3rem;
    margin-top: 12rem;
}
.sec{
    position: absolute;
    right: 3rem;
    margin-top: 12rem;

}
.product{
    display: inline-block;
    margin-top: 2rem;
    width: 16rem;
    padding: .5rem;
    background: rgba(228, 228, 228, 0.76);
    border-radius: 2rem;
}
.product ul{
    display: flex;
    justify-content: space-between;
}
.product ul li{
    list-style: none;
    font-size: 13px;
    width: 3.5rem;
    padding: .2rem;
    border-radius: 1rem;
}
.product ul li:hover{
    background: rgb(255, 255, 255);
    cursor: pointer;
}
.first{
    background: white;
    font-weight: 600;
}
.product-body{
    display: inline-block;
}

.slid{
    display: none;
}
.product-card{
    display: flex;
    justify-content: center;
    width: 60rem;
    gap: 1.5rem;
    margin-top: 4rem;
}
.grop{
    display: flex;
    gap: 1.5rem;
}
.card{
    width: 15rem;
    background: rgba(255, 255, 255, 0.774);
    border-radius: 1.5rem;
}
 .card .chair{
    display: block;
    background:rgba(223, 224, 224, 0.322) ;
    width: 100%;
    height: 16rem;
    padding-top: 2rem;
    border-top-left-radius: 1.3rem;
    border-top-right-radius: 1.3rem;
}
.chair img{
    width: 10rem;
    object-fit: fill;
}
.card-text{
    padding: 1rem .9rem;
}
.card p{
    text-align: left;
    font-size: 13px;
    margin-bottom: .4rem;
    font-weight: lighter;
}
.card-text h2{
    text-align: left;
    font-size: 16px;
}
.card-text img{
    display: block;
    justify-content: left;
    width: 5rem;
}
.card-text h3{
    text-align: left;
    margin-top: 2rem;
    font-size:1rem ;
    margin-top: 1.5rem;
}
.card-text h3 img{
    width: 1.8rem;
    position: absolute;
    margin-top: -1.6rem;
    margin-left: 9rem;
    cursor: pointer;
    object-fit: fill;
}
.view{
    margin-top: 2rem;
    font-size: 13px;
    color: goldenrod;
}
.experience{
    padding: 3rem 0;
}
.img-container{
    margin-top: 6rem;
    width: 47%;
}
.img-container img{
    width: 100%;
    height: 25rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    object-fit: fill;
    box-shadow: 1px 1px 10px rgba(247, 245, 245, 0.938);
}
.fun-one{
    position: absolute;
    width: 35%;
    height: 4rem;
    background-color: rgba(226, 226, 226, 0.486);
    z-index: -1;
    border-top-right-radius:1rem ;
    margin-top: -2.5rem;
}
.fun-two{
    position: absolute;
    width: 50%;
    height: 15rem;
    background-color: rgba(221, 220, 220, 0.479);
    z-index: -1;
    border-top-right-radius:1rem ;
    border-bottom-right-radius:1rem ;
    margin-top: 4rem;
}
.exp-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 4rem;

}
.exp-text{
    display: inline-block;
    width: 39%;
    margin-top: 3rem;
    text-align: left;
    margin-right: 3rem;
}
.exp-text h4{
    font-size: 1rem;
    color: rgb(0, 0, 0);
    text-align: left;
    font-weight: 300;
    color: goldenrod;
    margin-bottom: .5rem;
}
.exp-text h2{
    font-size: 2rem;
    color: rgb(0, 0, 0);
    text-align: left;
    font-weight: 600;
}
.exp-text p{
    font-size: 14px;
    color: rgb(0, 0, 0);
    text-align: left;
    font-weight: 200;
    line-height: 1.5rem;
    margin-top: 1rem;
}
.exp-text span{
    display: inline-block;
    margin-top: 1rem;
    text-align: left;
    font-weight: 200;
    font-size: 12px;
    color: goldenrod;
    cursor: pointer;
}
.exp-head-two{
    display: flex;
    margin-top: 9rem;
    justify-content: space-between;
}
.imgs{
    width: 50%;
}
.img-container-twos{
    display: flex;
}
.fir-img img{
    width: 15rem;
    margin-bottom: -2rem;
    object-fit: fill;
}
.two-img img{
    width: 15rem;
    object-fit: fill;
}

.img-table{
    width: 100%;
    display: block;
}
.img-table img{
    display: block;
    width: 100%;
    height: 25rem;
    margin-top: 7rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    object-fit: fill;
}
.exp-text-two{
    display: inline-block;
    width: 38%;
    margin-top: 7rem;
    margin-left: 4rem;
    text-align: left;
    
}
.exp-text-two h4{
    font-size: 1rem;
    color: rgb(0, 0, 0);
    text-align: left;
    font-weight: 300;
    color: goldenrod;
    margin-bottom: .5rem;
}
.exp-text-two h2{
    font-size: 2rem;
    color: rgb(0, 0, 0);
    text-align: left;
    font-weight: 600;
}
.exp-text-two p{
    font-size: 14px;
    color: rgb(0, 0, 0);
    text-align: left;
    font-weight: 200;
    line-height: 1.5rem;
    margin-top: 1rem;
}
.exp-text-two span{
    display: inline-block;
    margin-top: 1rem;
    text-align: left;
    font-weight: 200;
    font-size: 12px;
    color: goldenrod;
    cursor: pointer;
}
.Testimonial{
    width: 100%;
    margin-top: 6rem;
    margin-bottom: 6rem;
}
.arro{
    display: block;
}
.arr{
    position: absolute;
    left: 3rem;
    margin-top: 12rem;
}
.arrw{
    position: absolute;
    right: 3rem;
    margin-top: 12rem;
}
.test-container{
    display: inline-block;
    width: 100%;
    margin-top: 3rem;
    margin-bottom: 4rem;
}
.test-text h4{
    color: goldenrod;
    font-weight: 400;
}
.test-body{
    display: flex;
    justify-content: center;
    gap: 2rem;
    width: 100%;
}

.tes-col{
    display: inline-block;
}

.tes-col img{
    display: block;
    width: 18rem;
    height: 25rem;
    object-fit: fill;
}
.test{
    display: inline-block;
    background-color: white;
    width: 16rem;
    height: 12.5rem;
    padding: 1rem;
    position: absolute;
    margin-left: -8rem;
    margin-top: -13rem;
    border-radius: 1rem;
}
.test p{
    font-size: 10px;
}
.test h3{
    font-size: 1rem;
    margin-top: 3rem;
    margin-bottom:.5rem ;
    font-weight: 600;
}
.test img{
    width: 5rem;
    height: 1rem;
    margin-top: 1rem;
    display: inline-block;
}
.tes-img{
    display: block;
    background-size: cover;
    position: absolute;
    margin-top: -2.5rem;
    margin-left: 5rem;
}
.tes-img img{
    width: 4rem;
    height: 4rem;
    background:white;
    border-radius: 2rem;
    z-index: 99;
    display: inline-block;
}
.sli{
    display: none;
}
footer{
    background:  rgba(221, 220, 220, 0.479);
    padding: 4rem 7rem;
    color: black;
}
.footer-cont{
    display: flex;
    text-align: left;
    justify-content: space-between;
}
.foot-one{
    width: 20rem;
}
.foot-one h1{
    font-size: 1.5rem;
    font-weight: 600;
    text-align: left;

}
.foot-one p{
    font-size: 13px;
    text-align: left;
    margin-top: 1.5rem;
    color: rgba(44, 44, 44, 0.781);
}
.foot-cont h2{
    font-size: 1rem;
    text-align: left;
    color: chocolate;
    font-weight: 200;
}
.foot-cont ul li{
    margin-top: .5rem;
    font-size: 12px;
    text-align: left;
    cursor: pointer;
    color: rgba(44, 44, 44, 0.781);
}
.foot-cont ul li span{
    margin-right: .5rem;
}
li span img{
    width: .6rem;
    height: .6rem;
    object-fit: fill;
}
.footer-group{
    display: flex;
    justify-content: space-between;
    width: 27rem;
    padding: 2rem;
}
.copy{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
    padding-top: 1rem;
}
.copy span{
    font-size: 12px;
    color: gray;
}
.terms{
    display: flex;
    gap: 3rem;
}
.terms span{
    font-size: 12px;
    color: rgba(44, 44, 44, 0.781);
    cursor: pointer;
}
@media (max-width:974px) {
    
    
    .product-body{
        display: block;
        width: 100%;
    }
    .product-card{
        display: inline-block;
        width: 30rem;
    }
    .grop{
        margin-top: 1rem;
    }
    .test-body{
        flex-wrap: wrap;
    }
    footer{
        padding:4rem 2rem;
    }
}
@media (max-width:877px) {
    
    .fir-text h1{
        font-size: 3rem;
    }
    
    .experience{
        width: 100%;
    }
    .exp-body{
        display: inline-block;
        width: 80%;
        margin-top: -2rem;
    }
    #bod{
        display: grid;
    }
    
    #bod>.fi{
        grid-row: 1;
    }
    #bod>.sc{
        grid-row: 2;
    }
    #bod.reverse>.fi{
        grid-row: 2;
    }
    #bod.reverse>.sc{
        grid-row: 1;
    } 
    .exp-text{
    display: inline-block;
    width: 80%;
    margin-top: 0;
    margin-right: 0;
    padding: 1rem;
}
.exp-text p{
    line-height:1.3rem;
}
.img-container{
    z-index: 50;
    width: 88%;
}
.fun-one{
    width: 50%;
}
.fun-two{
    width: 77%;
    height: 16rem;
}
.img-container-twos{
    display: flex;
    justify-content: center;
    width: 100%;
    ;
}
.imgs{
    display: inline-block;
    width: 100%;
    margin-top: 3rem;
}
.img-table{
    width: 70%;
}
.img-table img{
    width:100% ;
}
.tin{
    width: 30%;
}

.exp-head-two{
    display: inline-block;
    width: 80%;
    margin-top: 0;
}
    .img-container-two{
        width: 30rem;
        position: relative;
        margin-top: 2rem;
        margin-bottom: 0;
    }
    .exp-text-two{
        display: block;
        width: 80%;
        margin-left: 0;
        padding: 1rem;
    }
    
    .foot-one{
        width: 14rem;
    }
}
@media (max-width:710px) {

    .container2-layout{
        padding: 0;
    }
    .container2-head{
        padding: 1rem 4rem;
    }
    .container2{
        display: inline-block;
        width: 30rem;
    }
    .col{
        margin-top: 1rem;
    }
    .exp-text{
        display: inline-block;
        width: 95%;
    }
    .exp-text-two{
        display: block;
        width: 95%;
        margin-left: 0;
        padding: 1rem;
    }
    .footer-cont{
        display: block;
    }
    .foot-one{
        display: block;
        width: 17rem;
        text-align: left;
    }
    .footer-group{
        margin-top: 1.5rem;
        padding: 0;
        width: 25rem;
    }
}
@media (max-width:630px) {
    .container{
        height: 45rem;
    }
    .menu{
        display: block;
    }
    .nav-links{
        display: none;
        width: 100%;
        height: 35rem;
        background-color: rgba(252, 250, 246, 0.938);
        clip-path: circle(44.8% at 50% 50%);
        position: absolute;
        right: -8rem;
        /* left: auto; */
        top: 5rem;
        z-index: 99;
        animation: .5s smoth ease-in-out;
    }
    @keyframes smoth{
        from{
            clip-path: circle(0% at 50% 50%);
        }
        to{
            clip-path: circle(44.8% at 50% 50%);
        }
    }
        .fir-text p{
            width: 20rem;
        }
    .nav-links ul{
        display: block;
        margin-top: 11rem;
    }
    .nav-links ul li {
        text-align: left;
        margin-left: 7rem;
    }
    .nav-links ul li a{
        color: rgb(49, 49, 49);
        font-size: 2rem;
        font-weight:bold;
    }
    .cart{
        display: flex;
        gap: 2rem;
    }
    .cart img{
        width: 1.6rem;
        height: 1.6rem;
    }
    .fir-text h1{
        font-size: 2rem;
    }
    .fir-text p{
        font-size: 12px;
        line-height: 1.5rem;
    }
    .product-card{
        width: 90%;
    }
    .exp-text{
        display: inline-block;
        width: 95%;
    }
    .exp-text-two{
        display: block;
        width: 95%;
        margin-left: 0;
        padding: 1rem;
    }
    
}
@media (max-width:521px){
    
    .container2{
        width: 80%;
    }
    
    .card{
        margin-top: 1rem;
    }
    .grop{
        display: inline-block;
        gap: 1.5rem;
    }
    .exp-body{
        display: inline-block;
        width: 90%;
    }
    .exp-head-two{
        display: inline-block;
        width: 90%;
    }
    .exp-text{
        display:inline-block;   
        width: 97%;
    }
    .exp-text h2{
        font-size: 1.3rem;
    }
    .exp-text-two h2{
        font-size: 1.5rem;
    }
    .exp-text-two p{
        font-size: 12px;
    }
    .fun-one{
        width: 55%;
    }
     .fun-two{
        width: 87%;
    } 
    
}
@media (max-width:471px) {
    .footer-group{
        gap: 1.5rem;
        justify-content: left;
    }
    nav{
        padding: 2rem 1rem;
    }
}
@media (max-width:387px) {
    .fir-text h1{
        font-size: 1.4rem;
    }
     .fir-text p{
        font-size: 12px;
        width: 14rem;
    }
    
}